html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body{
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.6;
  color: #4A4A4A;
  background-color:rgb(228, 227, 227) ;
}

a {
  color: black;
  text-decoration: none;
}
.mobile{
  display: none;
}
header{
  background-color: white;
  position: fixed;
  z-index: 20;
  width: 100%;
  position: top;
}
header .content{
  display: flex;
  align-items: center;
  padding: 30px;
}
header img{
  width: 20px;
}
ul{
  display: flex;
  align-items: center;
}
li{
  padding-inline: 20px;
  text-align: center;
}
header .logo{
  font-size: 24px;
  flex: 1;
}
.main-content{
  position: relative;
  top: 94px;
}
.banner{
  background-image: url(../images/banner-landingpage.jpg);
  background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: ;
}
header nav .button{
  display : none;
}
.center{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sign-up-cta{
  display: flex;
  align-content: center;
  color: white;
}
#sign-up-cta .content{
  background-color: #9DC20A;
  border-radius: 4px;
  border: 1px solid #979797;
  padding: 32px 80px 56px 80px;
  margin: 170px 0px 170px 100px;
}
.cursive{
  font-family: "Damion";
}
.header .cursive{
  font-size: 35px;
}
.email{
  font-size: 20px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email span{
  width: 390px;
  margin-bottom: 26px;
}
.striking{
  font-size: 50px;
  font-family: "Rubik";
}
.button{
  background-color: #4A4A4A;
  width: 408px;
  height: 64px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Roboto";
  font-weight: bold;
}
.button:hover{
  cursor: pointer;
}
#sign-up-cta{
  display: flex;
  }

#features-section{
  display: flex;
  justify-content: space-around;
}
h2{
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
}
#features-section h2{
  margin-bottom: 20px;
}
h3{
  font-weight: lighter;
}
.feature .image-container img{
  max-width: 100%;
  height: auto;
  display: block;
  }
  
  .feature .image-container {
    width: 90%;
    height: 65%;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .feature{
    background-color: white;
    margin: 64px 38px;
  }
  .feature .center{
    padding: 32px;
  }
.content{
  font-size: 16px;
  line-height: 1.4;
  font-weight: lighter;
}

#filters-section .image-container img{
  max-width: 100%;
  height: auto;
  display: block;
  }
#filters-section .images-container{
    display: flex;
    width: 98%;
    overflow: hidden;
    padding-inline: 1%;
}
#filters-section{
  background-color: #4A4A4A;
  color: white;
  padding-block: 64px;
}
#filters-section .content{
  padding-bottom: 70px;
}
#quotes-section{
  display: flex;
  justify-content: center;
  margin-block: 80px;
}
#quotes-section .content{
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.quote{
  font-family: "Palatino";
  font-style: italic;
  font-size: 30px;
  margin-right: 30px;
}
footer{
  height: 62px;
  background-color: #9b9b9b;
  color: white;
  font-weight: 600;
  font-size: 12;
}
footer .content{
  display: flex;
  padding: 20px 64px;
  align-items: center;
}
footer .content .copyright{
  flex: 1;
}

@media only screen and (max-width: 768px) and (min-width: 538px) and (orientation: portrait){

  header .mobile ul li .button{
    display: block;
  }
  #sign-up-cta .content{
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
  }
  #sign-up-cta{
    margin-block: 100px;
  }
  #sign-up-cta .content .email{
    display: none;
  }
  #sign-up-section{
    display: flex;
    justify-content: center;
  }
  header nav .button{
    display : flex;
    background-color:#9DC20A;
    color: white;
    width: 75px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
  }
  header .content{
    padding-inline: 10px;
  }
}

@media only screen and (max-width: 537px){
  .main-content{
    top: 50px;
  }
  #sign-up-cta .content{
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
  }
  #sign-up-cta{
    margin-block: 100px;
  }
  #sign-up-cta .content .email{
    display: none;
  }
  #sign-up-section{
    display: flex;
    justify-content: center;
  }
  header .mobile{
    display: block;
    width: 100%;
  }
  header .desktop{
    display: none;
  }
  header .mobile .button{
    display : flex;
    background-color:#9DC20A;
    color: white;
    width: 75px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
  }
  header{
    height: 48px;
  }
  header .content{
    padding: 0px;
    align-items: center;
    justify-content: center;
    height: 48px;
  }
  header .mobile ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #features-section {
    flex-direction: column;
  }
  #features-section .feature {
    margin: 0px 0px;
  }
  .quote{
    font-size: 24px;
    margin-right: 0px;
  }
  #quotes-section .content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 175px;
  }
  footer .content{
    padding: 5px 16px;
  }
  #features-section h2{
    font-size: 18px; 
    margin-bottom: 10px;
  }
  #features-section .image-container{
    margin-bottom: 20px;
  }
  #features-section h3{
    font-size: 14px;
  }
}